/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('ig.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better readability */
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  
  .about-content {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for better readability */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adding a shadow effect for depth */
    text-align: center;
  }
  
  .about-content h2 {
    margin-bottom: 20px;
  }
  
  .about-content p {
    margin-bottom: 15px;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better readability */
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  